* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100%;
    background-color: white;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .body {
        margin: 0;
    }
}
